html {
  height: 100%;
}
h1 {
  text-align: center;
  margin: 100px auto;
  font-weight: 200;
  font-size: 70px;
}
body {
  font-family: "Electrolize", sans-serif;
  background: -webkit-linear-gradient(
      rgba(135, 60, 255, 1),
      rgba(135, 60, 255, 0) 0%
    ),
    -webkit-linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 45%, rgba(
            55,
            230,
            235,
            1
          )
          0%);
}
